@import "../../../../mixin.scss";

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
  &__wrapper {
    width: 600px;
    &__heading {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      color: #00bcd4;
    }
    &__form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      padding: 20px;
      background: white;
      border: 1px solid rgba(black, 0.1);
      box-shadow: 0 3px 1px -2px rgba(black, 0.2), 0 2px 2px 0 rgba(black, 0.14), 0 1px 5px 0 rgba(black, 0.12);
      &__input {
        display: block;
        width: calc(100% - 110px);
        height: 30px;
        padding: 0 10px;
        font-size: 14px;
        border: 1px solid rgba(black, 0.2);
      }
      &__button {
        display: block;
        width: 100px;
        height: 30px;
        font-size: 14px;
        color: white;
        background: #00bcd4;
        border: none;
        appearance: none;
        cursor: pointer;
      }
      &.ng-invalid & {
        &__button {
          pointer-events: none;
        }
      }
    }
  }
  @include sp-only {
    &__wrapper {
      width: calc(100vw - 20px);
      &__heading {
        font-size: 22px;
      }
      &__form {
        display: block;
        margin-top: 10px;
        padding: 10px;
        &__input {
          width: 100%;
        }
        &__button {
          width: 100%;
          margin: 10px auto 0;
        }
      }
    }
  }
}