.glory {
  width: 100%;
  height: 100%;
  background-image: url(../../../../assets/glory-guardian.png);
  background-size: cover;
  background-position: center;
  &.-brave {
    background-image: url(../../../../assets/glory-brave.png);
  }
  &.-heroic {
    background-image: url(../../../../assets/glory-heroic.png);
  }
  &.-fabled {
    background-image: url(../../../../assets/glory-fabled.png);
  }
  &.-mythic {
    background-image: url(../../../../assets/glory-mythic.png);
  }
  &.-legend {
    background-image: url(../../../../assets/glory-legend.png);
  }
}