@import "../../../../mixin.scss";

.load {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  background: white;
  z-index: 100;
  i {
    color: #00bcd4;
    font-size: 45px;
  }
}