@import "../../../../mixin.scss";

.load {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50px;
  left: 240px;
  width: calc(100% - 240px);
  height: calc(100vh - 50px);
  font-size: 45px;
  color: #00bcd4;
  background: white;
  z-index: 100;
  @include sp-only {
    width: 100vw;
    left: 0;
  }
}