@import '../mixin.scss';

.column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  padding-top: 50px;
  &__content {
    width: calc(100vw - 240px);
    height: 100%;
    overflow: scroll;
    z-index: 1;
    &.-menu {
      width: 240px;
      height: 100%;
      background: white;
      box-shadow: 3px 0 6px rgba(black, 0.24);
      z-index: 10;
    }
    &.-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 190px;
      left: 240px;
      width: calc(100vw - 240px);
      height: calc(100vh - 190px);
      background: #fafafa;
      z-index: 1;
      i {
        font-size: 40px;
        color: #00bcd4;
      }
    }
    &.-off {
      display: none;
    }
  }
  @include sp-only {
    &__content {
      width: 100vw;
      overflow: auto;
      &__wrapper {
        display: inline-table;
        width: 100vw;
        height: calc(100vh - 50px);
        padding: 20px;
        overflow: scroll;
        -webkit-overflow-scrolling : touch
      }
      &.-menu {
        display: none;
      }
    }
  }
}