@import "../../../../mixin.scss";

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 100px;
  background: #00bcd4;
  &__content {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
  }
  @include sp-only {
    padding: 0 10px;
    line-height: 80px;
    &__content {
      font-size: 20px;
    }
  }
}