@import "../../../../mixin.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  padding: 0 16px;
  background: #039be5;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 1000;
  &__content {
    display: flex;
    align-items: center;
    span {
      padding-left: 5px;
    }
    &__logo {
      display: inline-block;
      line-height: 40px;
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
    &__login {
      font-size: 16px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
    &__github {
      svg {
        display: block;
        width: 24px;
        color: white;
        transform: translate(0, 1px);
      }
    }
    &__controller {
      display: none;
    }
  }
  @include sp-only {
    padding: 0 10px;
    &__content {
      &__github {
        display: none;
      }
      &__controller {
        display: block;
        position: relative;
        width: 22px;
        height: 16px;
        &__list {
          position: absolute;
          top: calc(50% - 1px);
          left: 0;
          width: 22px;
          height: 2px;
          background: white;
          transition: 0.3s;
          &:nth-of-type(1) {
            transform: translate(0, -7px);
          }
          &:nth-of-type(3) {
            transform: translate(0, 7px);
          }
        }
        &.-on {
          .header__content__controller {
            &__list {
              &:nth-of-type(1) {
                transform: rotate(45deg);
              }
              &:nth-of-type(2) {
                opacity: 0;
                transform: translate(5px, 0);
              }
              &:nth-of-type(3) {
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
  }
}