<header class="header">
  <p class="header__content"><a [routerLink]="['/']"><i class="fa fa-paper-plane" aria-hidden="true"></i>084Z</a></p>
  <div class="header__content">
    <ul class="header__content__controller" [class.-on]="state.is_navigation" (click)="switchNavigation()">
      <li class="header__content__controller__list"></li>
      <li class="header__content__controller__list"></li>
      <li class="header__content__controller__list"></li>
    </ul>
    <!-- <div class="header__content__user" *ngIf="state.user">
      <div class="header__content__user__image" [ngStyle]="{'background-image': 'url(' + state.user.photoURL + ')'}"></div>
      <p class="header__content__user__name">{{state.user.displayName}}</p>
      <ul class="header__content__user__menu">
          <li class="header__content__user__menu__list" (click)="logout()">LOGOUT</li>
      </ul>
    </div> -->
    <!-- <a href="https://www.bungie.net/ja/oauth/authorize?client_id=21686&response_type=code" class="header__content__login" >LOGIN</a> -->
  </div>
</header>