<p class="content" [class.-on]="state.url === '/'"><a [routerLink]="['/']">Dashboard</a></p>
<!-- <p class="heading">Party</p> -->
<p class="content" [class.-on]="state.url.includes('/party')"><a [routerLink]="['/', 'party']">Party</a></p>
<!-- <p class="content" [class.-on]="state.url.includes('party/pve')"><a [routerLink]="['/', 'party', {target: 'pve'}]">PvE</a></p>
<p class="content" [class.-on]="state.url.includes('party/pvp')"><a [routerLink]="['/', 'party', {target: 'pvp'}]">PvP</a></p> -->