<p class="content" [class.-on]="state.url === '/'"><a [routerLink]="['/']">Dashboard</a></p>
<p class="heading">CLAN</p>
<p class="content" [class.-on]="state.url.includes('2027026')"><a [routerLink]="['/', 'clan', 2027026]">084Z</a></p>
<!-- <p class="content" [class.-on]="state.url.includes('party/pve')"><a [routerLink]="['/', 'party', {target: 'pve'}]">PvE</a></p>
<p class="content" [class.-on]="state.url.includes('party/pvp')"><a [routerLink]="['/', 'party', {target: 'pvp'}]">PvP</a></p> -->