<p class="content" [class.-on]="state.url === '/'"><a [routerLink]="['/']">Dashboard</a></p>
<p class="heading">CLAN</p>
<p class="content" [class.-on]="state.url.includes('2027026')"><a [routerLink]="['/', 'clan', 2027026]">084Z</a></p>
<p class="content" [class.-on]="state.url.includes('2140164')"><a [routerLink]="['/', 'clan', 2140164]">BBJ</a></p>
<p class="content" [class.-on]="state.url.includes('2110598')"><a [routerLink]="['/', 'clan', 2110598]">Aaty</a></p>
<p class="content" [class.-on]="state.url.includes('1157243')"><a [routerLink]="['/', 'clan', 1157243]">A Knock</a></p>
<p class="content" [class.-on]="state.url.includes('1459862')"><a [routerLink]="['/', 'clan', 1459862]">Seventh Heaven</a></p>
<p class="content" [class.-on]="state.url.includes('655503')"><a [routerLink]="['/', 'clan', 655503]">Valuser</a></p>
<p class="content" [class.-on]="state.url.includes('2857820')"><a [routerLink]="['/', 'clan', 2857820]">VioIet</a></p>
<p class="content" [class.-on]="state.url.includes('2732118')"><a [routerLink]="['/', 'clan', 2732118]">Ecla-R</a></p>
<!-- <p class="content" [class.-on]="state.url.includes('party/pve')"><a [routerLink]="['/', 'party', {target: 'pve'}]">PvE</a></p>
<p class="content" [class.-on]="state.url.includes('party/pvp')"><a [routerLink]="['/', 'party', {target: 'pvp'}]">PvP</a></p> -->