<ul class="information">
  <li class="information__list">
    <p class="information__list__heading">KD</p>
    <p class="information__list__content">{{kill / death | number:'1.2-2'}}</p>
  </li>
  <li class="information__list">
    <p class="information__list__heading">KDA</p>
    <p class="information__list__content">{{(kill + (assist / 2)) / death | number:'1.2-2'}}</p>
  </li>
  <li class="information__list">
    <p class="information__list__heading">KA/D</p>
    <p class="information__list__content">{{(kill + assist) / death | number:'1.2-2'}}</p>
  </li>
</ul>
<svg class="graph">
  <g fill="#00bcd4" stroke="#00bcd4">
    <circle cx="0%" cy="0%" r="2" />
    <line x1="0%" y1="0%" x2="10%" y2="10%" />
    <circle cx="10%" cy="10%" r="2" />
    <line x1="10%" y1="10%" x2="20%" y2="20%" />
    <circle cx="20%" cy="20%" r="2" />
    <line x1="20%" y1="20%" x2="30%" y2="30%" />
    <circle cx="30%" cy="30%" r="2" />
    <line x1="30%" y1="30%" x2="40%" y2="40%" />
    <circle cx="40%" cy="40%" r="2" />
    <line x1="40%" y1="40%" x2="50%" y2="50%" />
    <circle cx="50%" cy="50%" r="2" />
    <line x1="50%" y1="50%" x2="60%" y2="60%" />
    <circle cx="60%" cy="60%" r="2" />
    <line x1="60%" y1="60%" x2="70%" y2="70%" />
    <circle cx="70%" cy="70%" r="2" />
    <line x1="70%" y1="70%" x2="80%" y2="80%" />
    <circle cx="80%" cy="80%" r="2" />
    <line x1="80%" y1="80%" x2="90%" y2="90%" />
    <circle cx="90%" cy="90%" r="2" />
    <line x1="90%" y1="90%" x2="100%" y2="100%" />
    <circle cx="100%" cy="100%" r="2" />
  </g>
</svg>
<ul class="elo">
  <li class="elo__list" *ngFor="let mode of state.modes">
    <p class="elo__list__heading">{{mode.name}}</p>
    <div class="elo__list__wrapper" *ngIf="player.stats[mode.id]">
      <a [attr.href]="'https://guardian.gg/2/profile/' + player.id + '/' + player.name" target="_blank" class="elo__list__wrapper__content">
        <div class="elo__list__wrapper__content__icon"><app-gg [elo]="player.stats[mode.id].elo_gg" [rank]="player.stats[mode.id].rank_gg"></app-gg></div>
        <p class="elo__list__wrapper__content__elo">{{player.stats[mode.id].elo_gg | number:'1.0-0'}}<app-diff [elo]="player.stats[mode.id].diff_gg"></app-diff></p>
      </a>
      <a [attr.href]="'https://destinytracker.com/d2/profile/psn/' + player.name" target="_blank" class="elo__list__wrapper__content">
        <div class="elo__list__wrapper__content__icon"><app-tracker [elo]="player.stats[mode.id].elo_tracker" [rank]="player.stats[mode.id].rank_tracker"></app-tracker></div>
        <p class="elo__list__wrapper__content__elo">{{player.stats[mode.id].elo_tracker | number:'1.0-0'}}<app-diff [elo]="player.stats[mode.id].diff_tracker"></app-diff></p>
      </a>
    </div>
  </li>
</ul>