<app-bread [breads]="breads"></app-bread>
<ul class="rank">
  <li class="rank__list">
    <p class="rank__list__heading">GLORY</p>
    <div class="rank__list__icon"><app-glory></app-glory></div>
  </li>
  <li class="rank__list">
    <p class="rank__list__heading">VALOR</p>
    <div class="rank__list__icon"><app-valor></app-valor></div>
  </li>
</ul>
<div class="table">
  <table class="table__content">
    <tbody>
      <tr>
        <th>Mode</th>
        <th>GG elo</th>
        <th>Tracker elo</th>
        <th>KD</th>
        <th>Win</th>
        <th>Match</th>
        <th>Ratio</th>
      </tr>
      <tr *ngFor="let mode of state.modes">
        <td>{{mode.name}}</td>
        <td><app-gg [elo]="player.stats[mode.id].elo_gg" [rank]="player.stats[mode.id].rank_gg"></app-gg>{{player.stats[mode.id].elo_gg | number:'1.0-0'}}<app-diff [elo]="player.stats[mode.id].diff_gg"></app-diff></td>
        <td><app-tracker [elo]="player.stats[mode.id].elo_tracker" [rank]="player.stats[mode.id].rank_tracker"></app-tracker>{{player.stats[mode.id].elo_tracker | number:'1.0-0'}}<app-diff [elo]="player.stats[mode.id].diff_tracker"></app-diff></td>
        <td>{{player.stats[mode.id].kill / player.stats[mode.id].death | number:'1.2-2'}}</td>
        <td>{{player.stats[mode.id].win | number:'1.0-0'}}</td>
        <td>{{player.stats[mode.id].match | number:'1.0-0'}}</td>
        <td>{{player.stats[mode.id].win / player.stats[mode.id].match * 100 | number:'1.2-2'}}%</td>
      </tr>
    </tbody>
  </table>
</div>
<p class="heading">Activity</p>
<ul class="activity">
  <li class="activity__list" [ngClass]="{'-win': activity.standing === 0, '-lose': activity.standing === 1}" *ngFor="let activity of activities">
    <p class="activity__list__data">{{activity.mode_name}}<br /><span>{{activity.date | date:'yyyy/MM/dd HH:mm:ss'}}・{{activity.location}}</span></p>
    <p class="activity__list__data"><span>KD</span><br />{{activity.kill / activity.death | number:'1.2-2'}}</p>
    <p class="activity__list__data"><span>KILL</span><br />{{activity.kill}}</p>
    <p class="activity__list__data"><span>ASSIST</span><br />{{activity.assist}}</p>
    <p class="activity__list__data"><span>DEATH</span><br />{{activity.death}}</p>
    <p class="activity__list__data"><span>SCORE</span><br />{{activity.score}}</p>
  </li>
</ul>