.elo {
  width: calc(100% - 40px);
  margin: 20px auto 0;
  &__list {
    padding: 20px;
    background: white;
    box-shadow: 0 3px 1px -2px rgba(black, 0.2), 0 2px 2px 0 rgba(black, 0.14), 0 1px 5px 0 rgba(black, 0.12);
    &__heading {

    }
    &__wrapper {
      display: flex;
      align-items: center;
      &__content {
        display: flex;
        align-items: center;
        &__icon {

        }
        &__elo {

        }
      }
    }
  }
}