<ul class="party">
  <li class="party__list">
    <ul class="party__list__tag">
      <li class="party__list__tag__list">Nulla</li>
      <li class="party__list__tag__list">Quis</li>
      <li class="party__list__tag__list">Ut</li>
      <li class="party__list__tag__list">Adipisicing</li>
    </ul>
    <p class="party__list__title">Occaecat deserunt elit aliqua laboris ipsum consequat non irure quis.</p>
    <p class="party__list__description">Do aliqua consequat culpa excepteur. Dolore consequat elit cupidatat minim. Laborum aliqua quis esse proident incididunt. Enim mollit ipsum adipisicing dolore eiusmod sit.</p>
    <ul class="party__list__team">
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player1</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player2</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player3</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player4</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list -average">
        <p class="party__list__team__list__name">Average</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
    </ul>
  </li>
  <li class="party__list">
    <ul class="party__list__tag">
      <li class="party__list__tag__list">Nulla</li>
      <li class="party__list__tag__list">Quis</li>
      <li class="party__list__tag__list">Ut</li>
      <li class="party__list__tag__list">Adipisicing</li>
    </ul>
    <p class="party__list__title">Amet deserunt ut laboris quis excepteur magna ea cupidatat commodo adipisicing laborum aliquip proident.</p>
    <p class="party__list__description">Cupidatat ipsum labore ullamco in sunt quis commodo. Nisi ullamco enim culpa irure id. Aliqua laboris incididunt voluptate ad velit ipsum aliquip. Proident veniam laboris culpa nisi qui consectetur magna velit minim eu. Amet consectetur ipsum pariatur anim do nisi officia.</p>
    <ul class="party__list__team">
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player1</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player2</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player3</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player4</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list -average">
        <p class="party__list__team__list__name">Average</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
    </ul>
  </li>
  <li class="party__list">
    <ul class="party__list__tag">
      <li class="party__list__tag__list">Nulla</li>
      <li class="party__list__tag__list">Quis</li>
      <li class="party__list__tag__list">Ut</li>
      <li class="party__list__tag__list">Adipisicing</li>
    </ul>
    <p class="party__list__title">Labore labore labore eiusmod fugiat aliquip officia nulla cillum eu enim sit laborum Lorem.</p>
    <p class="party__list__description">Minim dolor cillum aliquip consectetur tempor aliquip culpa magna mollit irure veniam. Fugiat dolor enim aliqua sunt ut. Reprehenderit laborum occaecat voluptate deserunt anim et eu est cupidatat nostrud mollit cupidatat duis. Sunt incididunt eu sunt ea esse deserunt et sint enim est veniam adipisicing enim. Cupidatat aliqua eu eu Lorem non.</p>
    <ul class="party__list__team">
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player1</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player2</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player3</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player4</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list -average">
        <p class="party__list__team__list__name">Average</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
    </ul>
  </li>
  <li class="party__list">
    <ul class="party__list__tag">
      <li class="party__list__tag__list">Nulla</li>
      <li class="party__list__tag__list">Quis</li>
      <li class="party__list__tag__list">Ut</li>
      <li class="party__list__tag__list">Adipisicing</li>
    </ul>
    <p class="party__list__title">Qui laborum exercitation excepteur laboris incididunt.</p>
    <p class="party__list__description">Do aliquip nisi ipsum Lorem consequat. Ea exercitation eu consequat nulla dolore dolore consectetur aliqua id et esse adipisicing eiusmod. Ad laboris voluptate non eiusmod pariatur elit. Ad cupidatat dolore deserunt pariatur est adipisicing ullamco nulla anim proident reprehenderit. Eiusmod sit amet occaecat dolore cillum cupidatat cillum tempor. Irure consectetur tempor est mollit magna culpa dolor sunt aute proident. Deserunt Lorem aliqua ex proident elit consequat irure velit fugiat cupidatat Lorem anim.</p>
    <ul class="party__list__team">
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player1</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player2</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player3</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player4</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list -average">
        <p class="party__list__team__list__name">Average</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
    </ul>
  </li>
  <li class="party__list">
    <ul class="party__list__tag">
      <li class="party__list__tag__list">Nulla</li>
      <li class="party__list__tag__list">Quis</li>
      <li class="party__list__tag__list">Ut</li>
      <li class="party__list__tag__list">Adipisicing</li>
    </ul>
    <p class="party__list__title">Voluptate sunt id Lorem labore nisi velit.</p>
    <p class="party__list__description">Ut nulla exercitation proident id cupidatat dolore duis non reprehenderit deserunt qui culpa nisi. In nostrud adipisicing excepteur cillum ad dolor magna. Irure et adipisicing laborum eu exercitation do aute voluptate ullamco magna mollit ex et nostrud. Dolore nostrud ad cupidatat voluptate.</p>
    <ul class="party__list__team">
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player1</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player2</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player3</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list">
        <p class="party__list__team__list__name">player4</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
      <li class="party__list__team__list -average">
        <p class="party__list__team__list__name">Average</p>
        <p class="party__list__team__list__elo"><app-gg type="party" [elo]="2000"></app-gg>1800<app-tracker type="party" [elo]="2000"></app-tracker>2000</p>
      </li>
    </ul>
  </li>
</ul>