<ul class="character">
  <li class="character__list" *ngFor="let character of characters">
    <a [routerLink]="['/', 'character', character.characterId]" class="character__list__wrapper" [ngStyle]="{'background-image': 'url(//www.bungie.net' + character.emblemBackgroundPath + ')'}">
      <p class="character__list__wrapper__class"><span *ngIf="character.classType === 0">Titan</span><span *ngIf="character.classType === 1">Hunter</span><span *ngIf="character.classType === 2">Warlock</span></p>
      <p class="character__list__wrapper__level">{{character.levelProgression.level}}</p>
      <p class="character__list__wrapper__light">◇{{character.light}}</p>
    </a>
    <ul class="character__list__item">
      <li class="character__list__item__list" [ngStyle]="{'background-image': 'url(https://dummyimage.com/100x100/00bcd4/ffffff)'}" *ngFor="let item of character.items"></li>
    </ul>
  </li>
</ul>